<header>
  <mat-toolbar class="barraNavegacion">
    <a mat-button routerLink="/">
      <img
        src="https://res.cloudinary.com/dqofgewng/image/upload/v1746126834/Logo_Enjoy_Coins_q0z6jc.png"
        alt="Enjoy Coins"
        height="60"
        class="logo"
      />
      <span class="nombreLogo">Enjoy Coins</span>
    </a>

    <span class="separador"></span>

    <a mat-button routerLink="/monedas" class="botonBarra">Monedas</a>
    <a mat-button routerLink="/colecciones" class="botonBarra">Colecciones</a>
    <a
      *ngIf="userService.isLoggedIn()"
      mat-button
      routerLink="/mis-colecciones"
      class="botonBarra"
    >
      Mis colecciones
    </a>

    <button mat-button [matMenuTriggerFor]="triviaMenu" class="botonBarra">
      Trivia
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #triviaMenu="matMenu">
      <button mat-menu-item [routerLink]="['/trivia-examen']">
        Examinarse
      </button>
      <button
        mat-menu-item
        [routerLink]="['/anadir-preguntas-trivia']"
        *ngIf="userService.isLoggedIn()"
      >
        Añadir preguntas
      </button>
      <button mat-menu-item [routerLink]="['/ranking']">Ranking</button>
    </mat-menu>

    <a
      mat-button
      *ngIf="userService.isAdmin()"
      [matMenuTriggerFor]="gestionUsuariosMenu"
      class="botonBarra"
    >
      Gestion usuarios
      <mat-icon>arrow_drop_down</mat-icon>
    </a>
    <mat-menu #gestionUsuariosMenu="matMenu">
      <button mat-menu-item [routerLink]="['/aprobar-rechazar']">
        Aprobar/Rechazar nuevo usuario
      </button>
      <button mat-menu-item [routerLink]="['/eliminar-usuarios']">
        Eliminar usuarios
      </button>
    </mat-menu>

    <span class="separador"></span>

    <ng-container *ngIf="!userService.isLoggedIn(); else loggedTpl">
      <a mat-raised-button routerLink="/login" class="textoLogout">Login</a>
      <a mat-raised-button routerLink="/register" class="textoLogout"
        >Registrarse</a
      >
    </ng-container>
    <ng-template #loggedTpl>
      <span class="textoLog">Hola {{ userRol }}, {{ userName }} </span>

      <button
        mat-icon-button
        [matMenuTriggerFor]="notifMenu"
        class="botonNotificaciones"
        aria-label="Notificaciones"
        matBadge="!"
        matBadgeDot
        matBadgeColor="warn"
        [matBadgeHidden]="!hasUnread"
        (menuOpened)="onNotifMenuOpened()"
      >
        <mat-icon class="iconoBlanco">chat_bubble</mat-icon>
      </button>

      <mat-menu #notifMenu="matMenu">
        <app-notifications></app-notifications>
      </mat-menu>

      <button mat-raised-button (click)="logout()" class="textoLogout">
        Logout
      </button>
    </ng-template>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>Enjoy Coins es una asociación dedicada al coleccionismo numismático.</p>
  <p>
    Email:
    <a href="mailto:enjoycoins&#64;gmail.com">enjoycoins&#64;gmail.com</a>
  </p>
  <p><a routerLink="/sitemap">Sitemap</a></p>
  <small
    >&copy; {{ currentYear }} Enjoy Coins. Todos los derechos reservados.</small
  >
</footer>
