<div *ngIf="isLoading" class="spinner-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<h1>Quitar monedas de la colección</h1>
<p>Selecciona las monedas que quieres quitar:</p>
<form
  [formGroup]="formSeleccion"
  (ngSubmit)="onSubmit()"
  *ngIf="!isLoading"
  class="form-quitar-monedas"
>
  <ng-container
    *ngIf="monedasEnColeccion.length > 0; else sinMonedasEnColeccion"
  >
    <mat-card>
      <div formArrayName="seleccion">
        <mat-list>
          <mat-list-item
            *ngFor="let moneda of monedasEnColeccion; let i = index"
          >
            <mat-checkbox [formControlName]="i">
              <strong>{{ moneda.nombre }}</strong> –
              {{ moneda.autoridad_emisora }}
            </mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card>

    <div class="actions">
      <button
        mat-flat-button
        color="warn"
        type="submit"
        [disabled]="ningunCheckboxSeleccionado"
      >
        Quitar de la colección
      </button>
      <button mat-stroked-button type="button" (click)="onCancelar()">
        Cancelar
      </button>
    </div>
  </ng-container>

  <ng-template #sinMonedasEnColeccion>
    <mat-card>
      <p>No hay monedas en esta colección para quitar.</p>
    </mat-card>
    <div class="actions">
      <button mat-stroked-button type="button" (click)="onCancelar()">
        Volver
      </button>
    </div>
  </ng-template>
</form>
