<ng-container *ngIf="pendientes.length > 0; else noUsers">
  <mat-card class="user-list-card">
    <h1>Usuarios pendientes de aprobación</h1>
    <mat-card-content>
      <mat-list>
        <ng-container *ngFor="let u of pendientes">
          <mat-list-item>
            <div class="user-item">
              <span class="user-info">
                {{ u.DNI }} – {{ u.nombre }} {{ u.apellidos }} – {{ u.email }} •
                <strong>Rol:</strong> {{ u.rol }}
              </span>

              <button
                mat-flat-button
                color="primary"
                (click)="approve(u._id)"
                matTooltip="Aprobar usuario"
                aria-label="Aprobar"
                class="accionBoton"
              >
                Aprobar
              </button>
              <button
                mat-raised-button
                color="warn"
                (click)="reject(u._id)"
                matTooltip="Rechazar usuario"
                aria-label="Rechazar"
                class="accionBoton"
              >
                Rechazar
              </button>
            </div>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #noUsers>
  <p class="no-users">No hay usuarios pendientes de aprobación.</p>
</ng-template>
