// @use '@angular/material' as mat;

// // Paleta primaria personalizada directamente como mapa
// $custom-primary: (
//   500: #F28C6F,
//   600: #ec7451,
//   700: #dc6240,
//   contrast: (
//     500: white,
//     600: white,
//     700: white
//   )
// );

// // Paleta de acento personalizada directamente como mapa
// $custom-accent: (
//   200: #9ED8DD,
//   300: #86c7cd,
//   400: #6eb6bd,
//   contrast: (
//     200: black,
//     300: black,
//     400: black
//   )
// );

// $custom-theme: mat.define-light-theme((
//   color: (
//     primary: $custom-primary,
//     accent: $custom-accent,
//     warn: mat.$red-palette
//   ),
//   typography: mat.define-typography-config(),
//   density: 0
// ));

// @include mat.core();
// @include mat.all-component-themes($custom-theme);

@use '@angular/material' as mat;

// Paleta primaria
$custom-primary: mat.define-palette(mat.$orange-palette, 500);
$custom-accent: mat.define-palette(mat.$cyan-palette, 200);
$custom-warn: mat.$red-palette;

// Tema
$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn
  )
));

// Estilos globales de Angular Material
@include mat.core();
@include mat.all-component-themes($custom-theme);
