<div *ngIf="cargando" class="loading">Cargando moneda…</div>

<div *ngIf="error" class="error">
  {{ error }}
</div>

<mat-card *ngIf="!cargando && !error && moneda" class="detalle-moneda-card">
  <img mat-card-image [src]="moneda.fotografia" [alt]="moneda.nombre" />
  <mat-card-content>
    <h2 class="titulo">{{ moneda.nombre }}</h2>
    <p><strong>Autoridad emisora:</strong> {{ moneda.autoridad_emisora }}</p>
    <p><strong>Ceca:</strong> {{ moneda.ceca }}</p>
    <p><strong>Datación:</strong> {{ moneda.datacion }}</p>
    <p>
      <strong>Estado de conservación:</strong> {{ moneda.estado_conservacion }}
    </p>
    <p><strong>Metal:</strong> {{ moneda.metal }}</p>
    <p><strong>Peso:</strong> {{ moneda.peso }}</p>
    <p><strong>Diametro:</strong> {{ moneda.diametro }}</p>
    <p><strong>Anverso:</strong> {{ moneda.anverso }}</p>
    <p><strong>Reverso:</strong> {{ moneda.reverso }}</p>
    <p><strong>Canto:</strong> {{ moneda.canto }}</p>
    <p><strong>Referencias:</strong> {{ moneda.referencias }}</p>
    <p><strong>Observaciones:</strong> {{ moneda.observaciones }}</p>
    <p><strong>Propietario:</strong> {{ nombreUsuario }}</p>
  </mat-card-content>
  <mat-card-actions>
    <div class="acciones">
      <button class="accionBoton" mat-stroked-button routerLink="/monedas">
        ← Volver al listado
      </button>
      <button
        mat-icon-button
        aria-label="Modificar elemento"
        *ngIf="userService.isPropietario(moneda.propietario)"
        [routerLink]="['/modificar-monedas', moneda._id]"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        class="accionBoton"
        mat-icon-button
        *ngIf="
          userService.isPropietario(moneda.propietario) || userService.isAdmin()
        "
        aria-label="Eliminar moneda"
        (click)="onDeleteMoneda(moneda._id)"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
